[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "==6.0.10"
tweepy = "==4.12.1"
pillow = "*"
selenium = "*"
chromedriver-binary = "*"

[dev-packages]
isort = "*"
yapf = "*"

[requires]
python_version = "3.10"
